/* fonts section */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

body {
    font-family: 'Happy Monkey', system-ui;
}

h1 {
    font-weight:bolder;
    font-size: 4rem;
}

h3 {
    font-weight:bolder;
    font-size: 2rem;
}
.bG {
    background-image: url("../media/wall-texture.jpg");
}

.inputBg {
    background-color: rgb(200, 233, 233);
}

.hangB {
    border: 0.5rem solid black;
}

.mainMP {
    margin-top: 2rem;
    margin-bottom: 10rem;
    /* margin-left: 5rem;
    margin-right: 5rem; */
    width: 70%;
}